@import url("variables.css");


/* RESETS & DEFAULTS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-default);
  font-weight: 500;
  color: var(--color-dark-grey);
}

@media only screen and (max-width: 1024px) {
  body::-webkit-scrollbar {
    display: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.1rem;
  color: var(--color-primary);
}

p {
  text-align: justify;
  letter-spacing: 0.05rem;
  line-height: 1.4rem;
  font-size: 0.9rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-neutral-grey);
  transition: 150ms;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

a:hover, a:active, a:focus {
  color: var(--color-secondary);
  outline: none;
}

svg {
  width: 100%;
  height: 100%;
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.current {
  color: var(--color-secondary);
}

.icon {
  fill: var(--color-neutral-grey);
  transition: 150ms;
  cursor: pointer;
}

.icon:hover, .icon:focus, .icon:active {
  fill: var(--color-secondary);
}


/* NAVIGATION */
#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#nav .container {
  flex-direction: column;
}

#nav .burger-btn {
  width: 1.5rem;
  height: 1.5rem;
  margin: 5% 0;
  background: none;
  border: none;
}

#nav .burger-btn:focus {
  outline: none;
}

#nav-links {
  display: none;
}

#nav-links li {
  padding: 0.5rem 0 1.2rem 0;
}

#nav-links li a {
  padding: 0.5rem 0 1.2rem 0;
  text-transform: uppercase;
  font-size: 0.9rem;
}

@media only screen and (min-width: 1024px) {
  #nav .burger-btn {
    display: none;
  }

  #nav-links {
    display: flex;
    align-items: center;
    height: 7.5rem;
  }

  #nav-links li {
    padding: 0;
    margin-right: 2rem;
  }

  #nav-links li a {
    padding: 1rem 1rem 1rem 0;
  }
}


/* LANDING PAGE */
#landing-page {
  max-width: 100vw;
  height: 100vh;
  background: url("../img/background.jpg") center center no-repeat;
  background-size: cover;
}

#landing-page .container {
  justify-content: center;
  align-items: center;
}

#landing-page h1 {
  font-size: 2.2rem;
  font-weight: 400;
  padding-top: 2.2rem;
  margin-bottom: 0.5rem;
  color: var(--color-neutral-grey);
}

#landing-page span {
  color: var(--color-secondary);
  font-weight: 500;
}

#landing-page h3 {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 5rem;
  color: var(--color-neutral-grey);
}

#landing-page .arrow-btn {
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  margin: 0 auto;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transition: 150ms;
}

#landing-page .arrow-btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

#landing-page .arrow-btn:hover svg {
  fill: var(--color-secondary);
}

@media only screen and (min-width: 1024px) {
  #landing-page h1 {
    font-size: 3rem;
  }

  #landing-page h3 {
    font-size: 1.5rem;
  }
}


/* ABOUT */
#about {
  padding-top: 5rem;
}

#about .container {
  justify-content: center;
}

#about .flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#about .avatar {
  width: 10rem;
  margin-bottom: 2rem;
}

#about h2 {
  margin-bottom: 1rem;
}

#about p {
  margin-bottom: 5rem;
}


/* FOOTER */
#footer {
  height: 10rem;
  max-width: 100vw;
  background-color: var(--color-dark-grey);
  padding: 1rem 0;
}

#footer .container {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#footer .flex-wrapper {
  display: flex;
  justify-content: center;
}

#footer .social-media {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 1rem;
}

#footer p {
  color: var(--color-neutral-grey);
  font-size: 0.7rem;
}