:root {
  --color-primary: #00646E;
  --color-secondary: #FF9C00;
  --color-light-grey: #B3B3B3;
  --color-dark-grey: #292929;
  --color-bg-grey: #E3F0F3;
  --font-default: 'Montserrat', sans-serif;
};